body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem 2rem;
  padding-bottom: 0;
}
footer {
  width: 100%;
}
.cnt {
  display: flex;
  background-color: ghostwhite;
}
img {
  /* height: 150px; */
  border-radius: 20%;
  place-self: center;
  width: 130px;
}
.sub {
  display: grid;
  justify-content: stretch;
}
h3 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #009688;
}
hr {
  width: -webkit-fill-available;
  height: 1;
  background: #c3c3c3;
}
h1 {
  text-align: center;
}
#rc {
  display: grid;
  width: -webkit-fill-available;
  padding: 20px;
  box-shadow: 4px 6px 14px 2px #2d3342;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}
#lc {
  min-width: 250px;
  padding: 20px;
  box-shadow: 4px 6px 14px 2px #2d3342;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}
h2 {
  text-align: center;
}
.fc img {
  height: 30px;
  border-radius: 0;
}
.fc {
  margin: auto;
  display: flex;
  justify-content: center;
}
#lang {
  margin-top: 5px;
  cursor: pointer;
}
ul {
  list-style: circle;
}
.skills {
  list-style: none;
  text-align: center;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-auto-rows: 40px;
  row-gap: 20px;
  column-gap: 10px;
  grid-auto-flow: dense;
}
.skills > li {
  border-radius: 40px;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.fe {
  border: solid #ef9a9a;
}
.be {
  border: solid #26c6da;
}
.do {
  border: solid #9ccc65;
}
.bigSkill {
  grid-column: span 2;
}
@media screen and (max-width: 800px) {
  .cnt {
    display: initial;
  }
  body {
    padding: 0;
  }
}
body {
  background-color: ghostwhite;
  /* font-family: Comic Sans MS, Comic Sans, cursive; */
  font-family: "Caveat Brush", cursive;
}
.con {
  display: grid;
  row-gap: 5px;
}
.con img {
  width: 15px;
}
.con a {
  display: flex;
  justify-content: space-between;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

li > span {
  color: grey;
}

.empHistory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.empHistory img {
  border-radius: 10px;
  padding: 10px;
  width: 50px;
}

.empHistory>section>div{
  display: flex;
  align-items: center;
  gap: 1rem;
}