body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  /* padding: 0.1rem 4rem; */
  /* padding-bottom: 0; */
  margin: 0;
}
footer {
  width: 100%;
}
.cnt {
  display: flex;
  background-color: ghostwhite;
}
img {
  /* height: 150px; */
  border-radius: 20%;
  place-self: center;
  width: 130px;
}
.sub {
  display: grid;
  justify-content: stretch;
  gap: 5px;
  align-items: start;
  width: 100%;
}
h3 {
  text-align: center;
  margin: 5px 0;
}
a {
  text-decoration: none;
  color: #7b7b7b;
}
hr {
  border:  solid #f8f8ff 1px; 
  width: -webkit-fill-available;
  height: min-content;
  /* opacity: 0.3; */
}
h1 {
  text-align: center;
  /* border-bottom: dotted #b0b0b0;
  border-bottom-right-radius: 140% 40%;
  border-bottom-left-radius: 150% 20%; */
  place-self: center;
  font-size: 1.5em;
  white-space: pre;
  margin: 5px 0;
  /* line-height: 150%; */
}
#rc {
  /* display: grid; */
  width: -webkit-fill-available;
  padding: 20px;
  /* box-shadow: 4px 6px 14px 2px #2d3342; */
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  align-items: start;
}
#lc {
  width: min-content;
  min-width: 250px;
  padding: 20px;
  /* box-shadow: 4px 6px 14px 2px #2d3342; */
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  display: grid;
  align-items: start;
}
@media screen and (max-width: 800px) {
  #lc {
    width: unset;
  }
}
h2 {
  text-align: center;
  /* border-bottom: solid #b0b0b0; */
  border-bottom-right-radius: 140% 40%;
  border-bottom-left-radius: 150% 20%;
  place-self: center;
  font-size: 1em;
  line-height: 160%;
  margin: 0;
}
.sub > h4,
.backAndDev h4 {
  /* border-bottom: solid #b0b0b0; */
  border-bottom-right-radius: 140% 40%;
  border-bottom-left-radius: 150% 20%;
  place-self: start;
  margin: 10px 0;
  font-size: 0.8em;
  width: fit-content;
}
.fc img {
  height: 30px;
  border-radius: 0;
}
.fc {
  margin: auto;
  display: flex;
  justify-content: center;
}
#lang {
  margin-top: 5px;
  cursor: pointer;
}
#lc .sub:nth-child(11) li::before {
  content: "• ";
  color: #7b7b7b;
}
#lc .sub:nth-child(9) li::before {
  content: "• ";
  color: #7b7b7b;
}
#lc ul {
  color: #7b7b7b;
  list-style: none !important;
  margin: 3px 0;
}
#rc ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
#rc .sub > ul,
.backAndDev ul {
  margin-left: 12px !important;
}
#rc ul li::before {
  content: "• ";
  color: #7b7b7b;
  margin-right: 2px;
}
.skills {
  list-style: none;
  text-align: center;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));
  grid-auto-rows: 30px;
  row-gap: 15px;
  column-gap: 10px;
  grid-auto-flow: dense;
  margin-top: 0;
}
.skills > li {
  border-radius: 40px;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  color: #7b7b7b;
  white-space: nowrap;
}
.fe {
  border: 1px dotted #ef9a9a;
}
.be {
  border: 1px dotted #9ccc65;
}
.do {
  border: 1px dotted #26c6da;
}
.bigSkill {
  grid-column: span 2;
}
@media screen and (max-width: 800px) {
  .cnt {
    display: initial;
  }
  body {
    padding: 0;
  }
}
body {
  background-color: ghostwhite;
  /* font-family: Comic Sans MS, Comic Sans, cursive; */
  font-family: "Caveat Brush", cursive;
}
.con {
  display: grid;
  row-gap: 5px;
}
.con img {
  width: 15px;
}
.con a {
  display: flex;
  justify-content: space-between;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

li > span {
  color: grey;
}

.empHistory {
  display: grid;
  gap: 0.5rem;
  /* grid-template-columns: 1fr 1fr 1fr; */
}
@media screen and (max-width: 800px) {
  .empHistory {
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  }
}
.empHistory h4 {
  text-align: center;
  margin: 0;
}
.empHistory img {
  border-radius: 10px;
  padding: 10px;
  width: 50px;
}

.empHistory > section > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: dotted #e0e0e066 1px;
  justify-content: center;
  place-self: center;
}
section > code {
  /* line-break: anywhere; */
}
.empHistory > section {
  display: flex;
  /* justify-items: center; */
  border: solid #f8f8ff 2px;
  padding: 10px 5px;
  border-radius: 10px;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
}

p {
  font-size: 17px;
  margin: 0;
}

.empHistory ul {
  font-size: 15px;
  padding-left: 5px;
  /* list-style: none; */
}
.front {
  color: #ef9a9a;
  font-weight: 500;
  text-transform: capitalize;
}
.back {
  color: #9ccc65;
  font-weight: 500;
  text-transform: capitalize;
}
.devops {
  color: #26c6da;
  font-weight: 500;
  text-transform: capitalize;
}
#title {
  /* background-color: #ef9a9a;
  color: white; */
  /* border-radius: 10px;
  place-self: center;
  padding: 5px 10px; */
  color: #ef9a9a;
}

.date {
  color: #8e8e8e;
  font-weight: 100;
}

.backAndDev {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 5px;
}

.backAndDev > div:first-child {
  /* border-right: dotted 1px #8e8e8e; */
}
#nb {
  color: #7b7b7b;
  padding: 0 5px;
  place-self: end !important;
}
.ss {
  /* display: grid;
  grid-template-columns: repeat(auto-fill,minmax(90px,1fr)); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-left: 0;
}

.rightHeader {
  /* display: grid;
  gap: 10px;
  grid-template-columns: 68% auto;
  align-items: start;
  border-bottom: dotted #e0e0e096 1px; */
  padding-bottom: 5px;
}

@media screen and (max-width: 1000px) {
  .rightHeader {
    grid-template-columns: unset;
  }
}
#rc > * {
  place-self: baseline;
}

.rightHeader > .sub:first-child {
  border-right: dotted #e0e0e096 1px;
  padding: 0 5px;
}
